.no-transition {
    transition: none !important;
}

.black-screen {
    position: absolute;
    background-color: black;
    z-index: 2;
    width: inherit;
    opacity: 0.4;
    height: 100%;
}

#carousel-container {
    width: 100vw; 
    position: relative;
    display: flex;
    align-items: center;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
}

.faded-text {
    animation: 2s fadeIn;
}

#carousel-text-container {
    position: absolute;
    z-index: 2;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(20px, 5vw, 40px);
}

#carousel-text {
    color: white;
    width: 80%;
}

#carousel-text-container a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: 4px white double;
    background-color: transparent;
    color: white;
    padding: 5px;
    align-self: flex-start;
    margin-left: 10%;
}

#carousel-text-container a:hover {
    background-color: white;
    color: var(--brown);
    border-color: var(--brown);
    opacity: 0.8;
}

#carousel-images {
    display: flex;
    overflow: hidden;
    min-height: max(300px, 60vh);
    max-height: max(calc(100vh - var(--header-height) - var(--header-padding) * 2), 500px);
    width: 100vw;
}

#carousel-images img {
    position: relative;
    z-index: 0;
    object-fit: cover;
    min-width: 100vw;
    transition: transform 1s;
}

#carousel-images img:nth-child(1) {
    z-index: 1;
}

#carousel-indicator-btn-container {
    position: absolute;
    z-index: 2;
    bottom: 5px;
    width: inherit;
    display: flex;
    justify-content: center;
}

#carousel-indicator-btn-container button {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    min-height: 8px;
    min-width: 8px;
    width: 1vw;
    height: 1vw;
    margin: 8px;
}

#carousel-indicator-btn-container button:hover {
    background-color: gray;
}

#carousel-indicator-btn-active {
    background-color: white !important;
}

#carousel-next-btn-container {
    position: absolute;
    width: inherit;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#carousel-next-btn-container button {
    background-color: transparent;
    font-family: poppins,'Courier New', Courier, monospace;
    transform: scale(1, 1.5);
    font-size: 35px;
    margin: 0 25px 0 25px;
    border: none;
    color: white;
}

#carousel-next-btn-container button:hover {
    color: gray;
}