#our-values-container {
    margin: 40px 0 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 3%;
    justify-content: center;
}

#our-values-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#our-values-container i {
    font-size: 4em;
    color: var(--dark-green);
}

#our-values-container h3 {
    font-size: 2em;
} 

#our-values-container p {
    font-size: 0.5em;
} 

@media only screen and (max-width: 400px) {
    #our-values-container {
        grid-template-columns: 80%;
        grid-gap: 20px;
    }
}