#previous-pathways ul {
    display: flex;
    margin: 10px 20px 0px 20px;
    font-size: 1.2em;
    color: var(--brown);
}

#previous-pathways a {
    color: var(--brown);
    text-decoration: none;
}

#previous-pathways a:hover {
    text-decoration: underline;
}

#previous-pathways ul li {
    margin: 0 2px 0 2px;
    text-transform: capitalize;
}

#product-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.4em;
}

#product-display > div {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#product-display div:nth-child(1) > img {
    margin: 0 auto 0 auto;
    max-width: 90%;
    max-height: 100vh;
}

#product-display div:nth-child(2) h2 {
    text-transform: capitalize;
    font-size: 1.8em;
}

#product-display-price {
    color: var(--dark-green);
    font-size: 1.5em;
}

#add-to-cart-form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 20px;
}

#add-to-cart-form label{
    grid-row: 1 / 2;
    color: var(--brown);
}

#add-to-cart-form .fine-tuning-container{
    grid-row: 2 / 3;
    margin-bottom: 10px;
}

#add-to-cart-form button[type="submit"] {
    width: 50%;
    color: var(--brown);
    background-color: var(--darker-body-background);
    border-radius: 10px;
    border: 1px solid var(--brown);
}

#add-to-cart-form button[type="submit"]:hover {
    border-color: var(--light-brown);
    color: var(--light-brown)
}

@media only screen and (max-width: 900px) {
    #product-display div:nth-child(1) > img {
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #product-display {
        grid-template-columns: 1fr;
    }
}