* {
    padding: 0;
    margin: 0;
}

:root {
    --dark-green: rgb(1, 63, 1);
    --green: rgb(3, 141, 3);
    --ivy: rgb(54, 102, 57);
    --pale-green: rgb(190, 237, 165);
    --light-blue: rgb(134, 213, 235);
    --brown: rgb(82, 10, 10);
    --light-brown: rgb(158, 40, 40);
    --body-background: rgb(251, 248, 244);
    --darker-body-background: rgb(236, 227, 214);
    --header-height: 50px;
    --header-padding: 10px;
}

@font-face {
    font-family: CormorantSC;
    src: url("../assets/fonts/CormorantSC-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 10px;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--body-background);
}

ul {
    list-style-type: none;
}

