#product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(160px, 20vw, 300px), 1fr));
    grid-auto-rows: 1fr;
    padding: 5px;
}

#product-container > div {
    position: relative;
    display: grid;
    grid-template-rows: 70% 30%;
    border: 1px solid rgb(242, 238, 223);
    border-radius: 2px;
    color: var(--brown);
    overflow: hidden;
    text-decoration: none;
    text-transform: capitalize;
}

#product-container > div > a {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

#product-container > div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;
}

#product-container > div > div {
    display: grid;
    grid-template-columns: 70% calc(30% - 20px);
    grid-row: 1fr 1fr;
    padding: 10px;
    position: relative;
    font-size: clamp(1.4em, 2vw, 1.8em);
}

#product-container > div > div p {
    width: 35%;
    text-align: end;
}

.quick-add-container {
    grid-column: 1 / 3;
    display: none;
    width: 100%;
    grid-template-columns: 40% 40%;
    position: absolute;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

.quick-add-container > label button {
    width: 100%;
    border: 1px solid var(--brown);
    border-radius: 10px;
    color: var(--brown);
    background-color: var(--darker-body-background);
    font-family: 'Times New Roman', Times, serif;
}

.quick-add-container > label button:hover {
    border-color: var(--light-brown);
    color: var(--light-brown);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Animations */
@keyframes halfFade {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0.5;
    }
}

.half-fade-out {
    animation: 0.5s halfFade forwards;
}

@keyframes quickAddEntrance {
    0% {
        opacity: 0;
        bottom: 30px;
    }

    100% {
        opacity: 1;
        bottom: 5px;
    }
}

.grow-height {
    animation: 2s quickAddEntrance forwards;
}