.fine-tuning-container {
    display: flex;
    width: fit-content;
}

.fine-tuning-container > * {
    margin: 0;
    background-color: var(--brown);
}

.fine-tuning-container button:nth-child(1) {
    border-radius: 50% 0 0 50%;
}

.fine-tuning-container button:nth-child(3) {
    border-radius: 0 50% 50% 0;
}

.fine-tuning-container input {
    width: 40px;
    border: 1px solid white;
    color: white;
    background-color: var(--brown);
}

.fine-tuning-btn {
    width: 25px;
    height: 25px;
    color: white;
    border: 1px solid white;
    background-color: var(--brown);
}

.fine-tuning-btn:hover {
    background-color: var(--light-brown);
}

input {
    border: none;
    text-align: center;
    padding-left: 5px;
}